.contact-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

.contact {
    width: 100%;
    margin: 50px auto;
}

.general-info {
    display: flex;
}

.chefs-wrap {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px auto;
    color: #404040;
}

.chef {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 55px;
    padding: 10px;
    display: flex;
    gap: 25px;
}

.chef img {
    border-radius: 50px 30px 20px 30px;
    height: 250px;
    width: 170px;
}

.chef-info {
    width: 200px;
    padding: 20px;
}

.contacts {
    margin: 75px auto;
    text-align: center;
    color: #404040;
}

h2 {
    color: #404040;
    text-align: center;
    margin-bottom: 50px;
}

.maps {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: #404040;
    text-align: center;
    font-weight: bold;
}

.map img {
    height: 300px;
    width: 500px;
    border: 2px solid grey;
}
