.contact-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

.contact {
    width: 60%;
    margin: 50px auto;
}

.general-info {
    display: flex;
}

.chefs-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chefs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
    color: #404040;
}

.chef {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 55px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.chef img {
    border-radius: 50px;
    height: 250px;
    width: 170px;
}

.chef-info {
    width: 200px;
    padding: 20px;
}

.contacts {
    margin: 75px auto;
    text-align: center;
    color: #404040;
}