.menu-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  background-color: white;
}


.menu {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #404040;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.menu-item {
    width: 260px;
    height: 470px;
    border: 1px solid grey;
    margin-bottom: 20px;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    position: relative;
    transition: 0.3s ease-out;
}

.menu-item:hover {
  top: -3px;
  left: -3px;
  box-shadow: 5px 5px rgba(246, 153, 28, 0.4),
              10px 10px rgba(246, 153, 28, 0.3),
              15px 15px rgba(246, 153, 28, 0.2),
              20px 20px rgba(246, 153, 28, 0.1),
              25px 25px rgba(246, 153, 28, 0.05);
  transition: 0.3s ease-out;
}

.menu-item h2 {
    color: #404040;
    font-family: cursive;
}

.menu-item p {
    flex-grow: 1;
    color: #404040;
    font-family: "Courier New", Courier, monospace;
}

.menu-item h3 {
    padding: 8px;
    transform: rotate(-10deg);
    background-color: #FDCD19;
    color: white;
    box-shadow: 0px 3px 3px grey;
    font-size: 25px;
}

.menu-item img {
    width: 100%;
}

.space {
    height: 600px;
}
