.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFAE67;
    position: float;
}


.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-right: 100px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.images {
    display: flex;
    align-items: center;
    width: 50%;
}

.slice-image {
    flex-basis: 40%;
    z-index: 1;
    height: 400px;
    margin-top: 300px;
}

.logo-image {
    text-align: center;
    flex-basis: 40%;
    height: 40px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-link img {
    opacity: 0.5;
    transition: 0.1s ease;
}

.current img {
    opacity: 1;
    transition: 0.2s ease;
}