html,
body,
#root {
  height: 100%;
  overflow: hidden;

}

* {
    margin: 0;
    padding: 0;
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
  margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FDC797;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFAE67;
}